body {
  background: linear-gradient(#2c0b10, rgb(79, 54, 58));
  font-family: Arial, sans-serif;
  padding: 50px;
  color: white;
}

h2 {
  color: #fffdfd;
  border-bottom: 1px solid white;
  padding: 5px;
}

label {
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
}

.container > * {
  margin-right: 20px;
}

/* 마지막 요소의 오른쪽 마진 제거 */
.container > *:last-child {
  margin-right: 0;
}

.container > div {
  flex: 1; /* 기본 크기 */
}

.container > div:first-child {
  flex: 5;
}

.container > div:last-child {
  flex: 2;
}

/* 추가: 자식이 1개일 때 100% */
.container.single-column > div {
  flex: 1 1 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 232, 232, 0.723);
  color: rgb(55, 0, 0);
}

table,
th,
td {
  border: 1px solid #2d0101;
}

th {
  background-color: #fafafa;
  color: #210000;
}

th,
td {
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

.pastel-wrapper {
  margin: 10px 0;
}

.pastel {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  color: #000000;
  border-radius: 20px;
}

.pastel0 {
  background-color: #d788ff;
}
.pastel1 {
  background-color: #a0a0a0;
}
.pastel2 {
  background-color: #ffffff;
}
.pastel3 {
  background-color: #ff4949;
}
.pastel4 {
  background-color: #528af9;
}
.pastel5 {
  background-color: #5ecf45;
}
.pastel6 {
  background-color: #f59a54;
}
.pastel7 {
  background-color: #96d095;
}
.pastel8 {
  background-color: #ffeb38;
}

button {
  padding: 10px;
  width: 100%;
  background-color: white;
  font-weight: bold;
  border: none;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.patient_input_inner {
  margin-bottom: 10px;
}

.patient_input_initial {
  margin-bottom: 20px;
}

.button_box {
  text-align: center;
  white-space: nowrap;
}

.button_box form {
  display: inline-block;
  margin: 0 5px;
}

#patient_submit {
  margin-top: 10px;
  background-color: #320101;
  color: white;
  border: white solid 1px;
  border-radius: 10px;
}

#waitlist_button {
  border-radius: 10px;
  background-color: white;
}

#roomNumber {
  text-align: center;
  padding: 5px;
  background-color: #1b0505;
  color: white;
}

#cancle {
  background-color: #5e0101;
  color: white;
}

#complete {
  background-color: #000;
  color: white;
}

#roomNumberSelect {
  border: 3px solid #540d0d;
}

button:hover {
  scale: 1.05;
}
