body {
  background: #a3b9d2;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: black;
  height: 100vh;
}

h2 {
  color: black;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

.column {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
}

.container > * {
  margin-right: 20px;
}

/* 마지막 요소의 오른쪽 마진 제거 */
.container > *:last-child {
  margin-right: 0;
}

.container > div {
  flex: 1; /* 기본 크기 */
}

.container > div:first-child {
  flex: 5;
}

.container > div:last-child {
  flex: 2;
}

/* 추가: 자식이 1개일 때 100% */
.container.single-column > div {
  flex: 1 1 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(224, 230, 232, 0.723);
  color: rgb(55, 0, 0);
}

table,
th,
td {
  border: 2px solid #4c6a8d;
  color: black;
}

th {
  background-color: white;
  font-size: 16px;
  color: black;
}

th,
td {
  padding: 5px 7px;
  text-align: left;
  font-weight: bold;
}

.pastel-wrapper,
.pastel-wrapper2 {
  border: none;
  border-radius: 10px;
  background-color: #c6e5ff2a;
  padding: 10px;
}

.pastel {
  display: inline-block;
  margin: 3px;
  padding: 10px;
  color: #000000;
  border-radius: 20px;
}

button {
  border-radius: 5px;
  padding: 7px 15px;
  width: 100%;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.patient_input {
  min-width: 255px;
  padding: 20px;
  background-color: #1b2835;
  border-radius: 5px;
  color: white;
}
.patient_input h2 {
  color: white;
}

.patient_input_inner {
  margin-bottom: 10px;
}

.patient_input_initial {
  margin-bottom: 20px;
}

.button_box {
  text-align: center;
  white-space: nowrap;
}

.button_box form {
  display: inline-block;
  margin: 0 5px;
}

#patient_submit {
  margin-top: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

#waitlist_button {
  border-radius: 5px;
}

#roomNumber {
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  color: black;
  font-size: 32px;
}

#cancle {
  background-color: #d32a2a;
  color: white;
  cursor: pointer;
}

#complete {
  background-color: #000000;
  color: white;
  cursor: pointer;
}

#roomNumberSelect {
  background-color: white;
  color: black;
}

button:hover {
  scale: 1.05;
}

tr td:nth-child(1),
tr td:nth-child(2),
tr td:nth-child(3) {
  font-size: 24px;
}
tr td:nth-child(2) {
  min-width: 90px;
}
tr td:nth-child(3) {
  min-width: 65px;
}
tr td:nth-child(4) {
  min-width: 80px;
}

#sortable td {
  padding: 10px;
}

.selected {
  background-color: white;
  color: black;
}

.top_navigation {
  margin-bottom: 30px;
  font-size: 18px;
}

.top_navigation input[type="radio"] {
  font-size: 24px;
}

.table-wrapper {
  overflow-x: auto;
}
.initial_title {
  padding: 10px 0px;
}

#order_button {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #000000;
  color: white;
}

.order_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#add_button {
  width: 100%;
}

#initial_control {
  float: right;
  width: 100px;
  background-color: #000000;
  color: white;
  font-size: 12px;
}
#chart_number {
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 20px;
}

#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 */
  z-index: 999; /* 모달보다 아래, 나머지보다 위 */
}

#memo {
  background-color: white;
}
